<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt</key>
	<string>Contenu Intercalaire sans titre clean_duplicates.py Multidex Texte Mots en majuscules Nombres Adresses Internet Surbrillance Mots-clés Autocollants Tâches Pièces jointes PJ supprimées Dates de création Dates de modification Dates d’échéance Résultats de recherche av. </string>
</dict>
</plist>
